@model VirtualClassroomDashboard.Models.UserUpdateModel
@{
    ViewData["Title"] = "Account";
    if (@TempData["UT"] == null)
    {
        Layout = "_Layout";
    }
    else if (@TempData["UT"].ToString() == "Admin")
    {
        Layout = "_LayoutAdmin";
    }
    else if (@TempData["UT"].ToString() == "Teacher")
    {
        Layout = "_LayoutEducator";
    }
    else if (@TempData["UT"].ToString() == "Student")
    {
        Layout = "_LayoutStudent";
    }

}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to update your account, please fill out the necessary fields to be able to save your information</p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Account">
                <fieldset>
                    <p class="errorResponse">@ViewBag.Error</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <p>@TempData["FN"]</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <p>@TempData["LN"]</p>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        @if (@TempData["PN"] != null)
                        {
                            <input asp-for="PhoneNumber" class="form-control" value=@TempData["PN"] />
                        }
                        else
                        {
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Ex: 6267689903" />
                        }
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <p>@TempData["EM"]</p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input class="submitButton" type="submit" value="Update" />
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </fieldset>
                <div class="clear"></div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
