@model IEnumerable<VirtualClassroomDashboard.Models.AnnouncementModel>
@{
    ViewData["Title"] = "Announcements";
    string CurrentUID = @TempData["UID"].ToString();
    if (@TempData["UT"].ToString() == "Student")
    {
        Layout = "_LayoutStudent";
    }
    else
    {
        Layout = "_LayoutEducator";
    }
}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />

    <h3>View Announcements from @TempData["CourseName"]</h3>
    @if (@TempData["UT"].ToString() == "Teacher")
    {
        <p class="linkDec">@Html.ActionLink("Add Announcement", "CreateAnnouncement")</p>
    }
    <p class="errorResponse">@ViewBag.Error</p>
    @{
        if (ViewBag.Message == "Please go to the Dashboard and Select a Course. There is no active course selected.")
        {
            <span style="color:red">@Html.Raw(ViewBag.Message)</span>
        }
        else
        {
            @if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <div class="accordDiv">
                        <button class="accordion">@item.AnnounceTitle</button>
                        <div class="panel">
                            <p>@item.AnnounceDesc</p>
                            @*@if (item.FileName != null)
                            {
                                <a href="@item.FIlePath@item.FileName" target="_blank" download>@item.FileName</a>
                            }*@
                            @if ((int.Parse(CurrentUID) == item.UserID) || @TempData["UT"].ToString() == "Teacher")
                            {
                            <p> @Html.ActionLink("Remove", "RemoveAnnouncement", new { AnnouncID = item.AnnounceID, fileID = item.FileID, fpath = item.FIlePath, fname = item.FileName })</p>
                            }
                        </div>
                    </div>
                    
                }
            }
            else
            {
                <p>No Announcements have been created for this course.</p>
            }
        }
    }
    <div class="clear"></div>
</div>
<div class="clear"></div>