@model IEnumerable<VirtualClassroomDashboard.Models.DiscussionReplyModel>
@{
    ViewData["Title"] = "Discussions";
    string CurrentUID = @TempData["UID"].ToString();
    if (@TempData["UT"].ToString() == "Student")
    {
        Layout = "_LayoutStudent";
    }
    else
    {
        Layout = "_LayoutEducator";
    }
}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />

    <h2> @TempData["CourseName"]: @ViewData["DiscussionTitle"] - @ViewData["DiscussionDate"]</h2>
    <p class="errorResponse">@ViewBag.Error</p>
    <div class="discuss">
        <p>@ViewData["DiscussionDesc"]</p>
        <p class="linkDec">@Html.ActionLink("Reply", "DiscussionReply", new { id = ViewData["DiscussionID"] })</p>
    </div>
    <div class="seventyfive discussReplySevenFive">
        @foreach (var item in Model)
        {
            <div class="discussReply">
                <h3>@item.UserName - @item.DiscussionReplyDate</h3>
                <p>@item.DiscussionReplyDesc</p>
            </div>
        }
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>