@model IEnumerable<VirtualClassroomDashboard.Models.DiscussionsModel>
@{
    ViewData["Title"] = "Discussions";
    string CurrentUID = @TempData["UID"].ToString();
    if (@TempData["UT"].ToString() == "Student")
    {
        Layout = "_LayoutStudent";
    }
    else
    {
        Layout = "_LayoutEducator";
    }
}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />

    <h3>Discussion Board for @TempData["CourseName"]</h3>
    @if (@TempData["UT"].ToString() == "Teacher")
    {
        <p>@Html.ActionLink("Add Discussion Board", "AddDiscussion")</p>
    }
    <p class="errorResponse">@ViewBag.Error</p>
    @{
        if (ViewBag.Message == "Please got to the Dashboard and Select a Course. There is no active course selected.")
        {
            <span style="color:red">@Html.Raw(ViewBag.Message)</span>
        }
        else
        {
            @if (Model != null)
            {

                @foreach (var item in Model)
                {

                    <div class="discussboard">
                        @Html.ActionLink(item.DiscussionTitle, "Discussion", new { id = item.DiscussionID})

                        @if (@TempData["UT"].ToString() == "Teacher")
                        {
                            @Html.ActionLink("Remove", "RemoveDiscussion", new { id = item.DiscussionID})       
                        }
                    </div>
                }
            }
            else
            {
                <p>No Files have been uploaded for this course.</p>
            }
        }
    }
    <div class="clear"></div>
</div>
<div class="clear"></div>