@model IEnumerable<VirtualClassroomDashboard.Models.CourseModel>
@{
    ViewData["Title"] = "Student Dashboard";
    Layout = "_LayoutStudent";
}

<div class="one-hundred">
    <h1 class="mainHeading">@ViewData["Title"]</h1>
    <p>If you would like to format your own email of concern please contact: <a class="basicLinks" href="mailto: support@virtualclassroomdashboard.azurewebsites.net?subject=Issues or Concerns (Add your information here)&body=Message">Support. </a>If you would like to format your own comment emil please contact: <a class="basicLinks" href="mailto: info@virtualclassroomdashboard.azurewebsites.net?subject=IFeedback or Comments (Add your information here)&body=Message">Info.</a></p>
    <img class="centerDivide" src="~/images/centerDividers.png" alt="Virtual Classroom Dashboard Center Divider" />
    <h2>Welcome @TempData["FN"] @TempData["LN"]!</h2>

    @if (Model != null && TempData["SCI"] == "")
    {
        <p>Please Select a course to begin managing your classroom.</p>

        @foreach (var item in Model)
        {
            <p>@Html.ActionLink(item.CourseName + " " + item.CourseNumber, "SetStudentCourse", new { id = item.CourseID }, new { @class = "courseButton" })</p>
            <br />
        }
    }
    else if (TempData["SCI"] != null)
    {
        <p class="selected">Selected course: <b>@TempData["SCI"]</b></p>
        <p class="linkDec">@Html.ActionLink("Select New Course", "selectStudentNewCourse", new { @class = "submitButton" })</p>
        <br />
    }
    else
    {
        <p>Something went wrong or you have not added any courses.</p>
    }
    <div class="clear"></div>
</div>
<div class="clear"></div>